apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

bases:
  - ../../base

namePrefix: prod-

commonLabels:
  environment: prod

configMapGenerator:
  - name: gitops-demo-config
    behavior: merge
    literals:
      - APP_ENV=production

replicas:
  - name: gitops-demo-app
    count: 3

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: gitops-demo-app
      spec:
        template:
          spec:
            containers:
            - name: app
              resources:
                requests:
                  cpu: 200m
                  memory: 256Mi
                limits:
                  cpu: 500m
                  memory: 512Mi
