---
- name: Install K3s
  hosts: all
  become: true
  vars:
    k3s_version: v1.28.5+k3s1

  tasks:
    - name: Download K3s installation script
      ansible.builtin.get_url:
        url: https://get.k3s.io
        dest: /tmp/k3s-install.sh
        mode: '0755'

    - name: Install K3s
      ansible.builtin.shell: |
        INSTALL_K3S_VERSION="{{ k3s_version }}" \
        INSTALL_K3S_EXEC="--disable traefik --write-kubeconfig-mode 644" \
        /tmp/k3s-install.sh
      args:
        creates: /usr/local/bin/k3s

    - name: Wait for K3s to be ready
      ansible.builtin.wait_for:
        path: /etc/rancher/k3s/k3s.yaml
        timeout: 60

    - name: Create .kube directory for vagrant user
      ansible.builtin.file:
        path: /home/vagrant/.kube
        state: directory
        owner: vagrant
        group: vagrant
        mode: '0755'

    - name: Copy kubeconfig to vagrant user
      ansible.builtin.copy:
        src: /etc/rancher/k3s/k3s.yaml
        dest: /home/vagrant/.kube/config
        remote_src: yes
        owner: vagrant
        group: vagrant
        mode: '0600'

    - name: Set KUBECONFIG environment variable
      ansible.builtin.lineinfile:
        path: /home/vagrant/.bashrc
        line: 'export KUBECONFIG=/home/vagrant/.kube/config'
        create: yes

    - name: Install kubectl bash completion
      ansible.builtin.lineinfile:
        path: /home/vagrant/.bashrc
        line: 'source <(kubectl completion bash)'
        create: yes

    - name: Create kubectl alias
      ansible.builtin.lineinfile:
        path: /home/vagrant/.bashrc
        line: 'alias k=kubectl'
        create: yes

    - name: Wait for K3s node to be ready
      ansible.builtin.shell: kubectl wait --for=condition=Ready node --all --timeout=300s
      register: k3s_ready
      retries: 5
      delay: 10
      until: k3s_ready.rc == 0
      environment:
        KUBECONFIG: /etc/rancher/k3s/k3s.yaml

    - name: Get K3s version
      ansible.builtin.command: k3s --version
      register: k3s_version_output
      changed_when: false

    - name: Display K3s version
      ansible.builtin.debug:
        msg: "{{ k3s_version_output.stdout }}"

    - name: Create namespaces
      ansible.builtin.shell: |
        kubectl create namespace dev --dry-run=client -o yaml | kubectl apply -f -
        kubectl create namespace staging --dry-run=client -o yaml | kubectl apply -f -
        kubectl create namespace prod --dry-run=client -o yaml | kubectl apply -f -
      environment:
        KUBECONFIG: /etc/rancher/k3s/k3s.yaml
