apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev
bases:
  - ../../base
namePrefix: dev-
commonLabels:
  environment: dev
configMapGenerator:
  - name: gitops-demo-config
    behavior: merge
    literals:
      - APP_ENV=development
replicas:
  - name: gitops-demo-app
    count: 1
images:
  - name: gitops-demo-app
    newName: ghcr.io/m2v0a02/gitops
    newTag: develop-2b08f1ad6c47d0a2f806dae37edd63cdb572fb37
patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: gitops-demo-app
      spec:
        template:
          spec:
            containers:
            - name: app
              resources:
                requests:
                  cpu: 50m
                  memory: 64Mi
                limits:
                  cpu: 100m
                  memory: 128Mi
